<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/produto']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>Produto ID: {{produto.id}}</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Nome:</dt>
        <dd>{{produto.nome}}</dd>
        <dt>Valor:</dt>
        <dd>{{produto.valor}}</dd>
        <dt>Imagem:</dt>
        <dd>
          <img src="\assets\img\{{produto.imagemPath}}" alt="imagem produto" style="width:180px; height:180px;">
        </dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/produto-edit/', produto.id || 'all']"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteProduto(produto.id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
